/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /** Paleta de Colores **/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-de-bg: #EAF2FD;
    --cor-de-text: #464646;
    --cor-white: #fff;
    --cor-btn: #2A7AE4;

    /** Tipografia **/
    --fuentePrincipal: 'Raleway';

    /** Font Weight **/
    --regular-400: 400;
    --medium-500: 500;
    --bold-700: 700;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1;
    color: var(--cor-de-text);
}

/** Globales **/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

ol, ul,li {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

h1, h2, h3,h4 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

[class$="__title"] {
    font-size: 2.2rem;
    text-align: center;
    font-weight: var(--bold-700);
}

@media (min-width: 768px) {
    [class$="__title"] {
        font-size: 3.2rem;
        text-align: center;
    }
}

/*Sección Menu*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem auto;
}

.menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.navegacion {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navegacion__list {
    display: none;
}

@media (min-width: 1440px) {
    .navegacion__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}

.navegacion__list__item--contacto {
    font-weight: var(--bold-700);
}

/*Sección Title*/
.title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top: 3.5rem;
}
.title__profile {
    width: 16.8rem;
}

@media (min-width: 768px) {
    .title__profile {
        width: 36.8rem;
    }
}

.title__bio {
    font-size: 2.2rem;
    padding-top: 1rem;
    font-weight: var(--bold-700);
}

@media (min-width: 1440px) {
    .title__bio {
        font-size: 5.2rem;
        padding-top: 5rem;
        font-weight: var(--bold-700);
    } 
}

.title__subsection {
    margin-top: 1rem;
    font-weight: var(--regular-400);
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .title__subsection {
        margin-top: 2.4rem;
        font-size: 2.2rem;
        font-weight: var(--regular-400);
        padding-right: 3.5rem;
    } 
}

.title__network {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.title__network__item {
    padding-right: 1rem;
}

.title__network__item a {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.title__img {
    margin-left: .4rem;
    width: 1.5rem;
}
/*Sección About*/
.about {
    background-color: var(--cor-de-bg);
    margin: 3rem 0;
}

.about__container {
    padding: 3rem 0;
}

@media (min-width: 768px) {
    .about__container {
        padding: 6rem 0;
    }
}

.about__title {
    font-size: 2rem;
    font-weight: var(--bold-700);
    text-align: left;
}

.about__title {
    font-size: 3.2rem;
}

.about__paragraph {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .about__paragraph {
        margin: 1.6rem 40rem 1.8rem 0;
    }
}

/*Sección Hobbies*/
.skills {
    margin-top: 3.2rem;
}

.skills__line,
.hobbies__line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}   

@media (min-width: 768px) {
    .skills__line,
    .hobbies__line {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }   
}

@media (min-width: 1440px) {
    .skills__line,
    .hobbies__line {
        grid-template-columns: repeat(6, 1fr);
    }   
}

.skills__box,
.hobbies__box {
    display: flex;
    align-items: end;
    background-color: var(--cor-white);
    width: 19.6rem;
    height: 13.6rem;
    padding-left: 1.6rem;
    margin-top: 2.2rem;
}

@media (min-width: 768px) {
    .skills__box,
    .hobbies__box {
        width: 19.6rem;
        height: 13.6rem;
        margin-top: 2.2rem;
    }
}

@media (min-width: 1440px) {
    .skills__box,
    .hobbies__box {
        width: 17.6rem;
        height: 17.6rem;
        margin-top: 3.2rem;
    }
}

.skills__img,
.hobbies__img {
    margin-bottom: 1.6rem;
}

.hobbies {
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .hobbies {
        margin-top: 8.8rem;
    }
}

/* Experiencia Académica*/
.academic {
    background-color: var(--cor-de-bg);
    margin-top: 8.2rem;
    padding-bottom: 2.2rem;
}

@media (min-width: 768px) {
    .academic {
        background-color: var(--cor-de-bg);
        padding-bottom: 8.2rem;
    }
}

.academic__title {
    padding-top: 3.2rem;
}

@media (min-width: 768px) {
    .academic__title {
        padding-top: 8.2rem;
    }
}

.academic__courses {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.2rem;
}

@media (min-width: 768px) {
    .academic__courses {
        margin-top: 3.2rem;
    }    
}

.academic__courses__item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-white);
    padding: 3rem 7rem;
}

@media (min-width: 768px) {
    .academic__courses__item__img {
        padding: 7rem 8rem;
    }
}

.academic__courses__item__title {
    padding-top: 1rem;
    text-align: left;
    font-size: 1.6rem;
}

@media (min-width: 768px) {
    .academic__courses__item__title {
        font-size: 2.2rem;
    }
}
.academic__courses__item__subtitle {
    margin-top: .4rem;
}

/* experiencia*/
.experience__section__title {
    margin: 3.2rem 0;
}

@media (min-width: 1440px) {
    .experience__box {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 3rem;
    }
}

.experience__box:nth-child(3) {
    flex-direction: row-reverse;
}

.experience__title {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: .8rem;
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .experience__title {
        padding-top: 0;
        font-size: 2.2rem;
    }
}

.experience__text {
    font-weight: var(--medium-500);
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .experience__text {
        font-size: 1.6rem;
    }
}

.experience__description {
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .experience__description {
        margin-bottom: 0;
    }
}

.experience__repo {
    margin-right: 1.6rem;
}

.experiencia__botao--repo,
.experience__botao--demo  {
    padding: .8rem 1.4rem;
    border: 1px solid var(--cor-btn);
    color: var(--cor-btn);
    font-size: 1.4rem;
    transition: background-color .3s;
}

@media (min-width: 768px) {
    .experiencia__botao--repo,
    .experience__botao--demo  {
        font-size: 1.6rem;
        padding: .8rem 1.6rem;
    }
}

.experiencia__botao--repo:hover,
.experience__botao--demo:hover  {
    background-color: var(--cor-btn);
    color: var(--cor-white);
}

/* Contacto */
.formcontato {
    background-color: var(--cor-de-bg);
    padding: 4rem 0;
}

@media (min-width: 768px) {
    .formcontato {
        padding: 7rem 0;
    }
}

.formcontato__contacto {
    display: flex;
    gap: 2rem;
}

.formcontato__img {
    display: none;
}

@media (min-width: 768px) {
    .formcontato__img {
        display: block;
    }
}

.formcontato__title {
    text-align: left;
    margin-bottom: 1rem;
}

.formcontato__subtext {
    font-weight: normal;
    font-size: 1.6rem;
}

.formcontato__field {
    position: relative;
    margin: 2rem 0;
}

.formcontato__input {
    width: 100%;
    height: 6rem;
    border: none;
    padding-left: 1rem;
    border-radius: .5rem;
}

.formcontato__label {
    position: absolute;
    top: 30%;
    left: 1rem;
    transform: translateY(40%);
    font-weight: var(--medium-500);
    pointer-events: none;
    transition: .3s;
    color: #A2A2A2;
}

.formcontato__input:focus {
    outline: none;
    border-bottom: 2px solid var(--cor-btn);
    padding: 1rem 0 0 1rem;
}


.formcontato__input:focus ~ .formcontato__label,
.formcontato__input:valid ~ .formcontato__label {
    top: 0;
    font-size: 1.4rem;
    color: var(--cor-btn);
}

.formcontato__boton {
    color: var(--cor-white);
    border: none;
    background-color: var(--cor-btn);
    padding: 1.6rem;
    margin-top: 2rem;
}


/*footeer*/
.footer {
    text-align: center;
    margin: 2rem 0;
}

/*TODO: AGREGAR Media Querie*/
/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

/*Contacto*/

/*Footer*/

}