/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /** Paleta de Colores **/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-de-bg: #EAF2FD;
    --cor-de-text: #464646;
    --cor-white: #fff;
    --cor-btn: #2A7AE4;

    /** Tipografia **/
    --fuentePrincipal: 'Raleway';

    /** Font Weight **/
    --regular-400: 400;
    --medium-500: 500;
    --bold-700: 700;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1;
    color: var(--cor-de-text);
}

/** Globales **/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

ol, ul,li {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

h1, h2, h3,h4 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 30%;
    display: block;
    height: auto;
}

@media (min-width: 1440px) {
    img {
        max-width: 100%;
    }
}

/** Sección Menu **/
.menu {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 0;
}

.menu__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navegacion {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navegacion__list {
    display: none;
}

@media (min-width: 768px) {
    .navegacion__list {
        display: flex;
        gap: 1rem;
    }
}

.navegacion__list__item--contacto {
    font-size: 1.4rem;
}

@media (min-width: 425px) {
    .navegacion__list__item--contacto {
        font-weight: var(--bold-700);
    }
}   

/** Sección Title **/
.title {
    margin-bottom: 3.2rem;
}

.title__div {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    gap: 1.6rem;
}

@media (min-width: 768px) {
    .title__div {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 3.2rem;
        gap: 1.7rem;
    }
}

.title__profile {
    width: 9.8rem;
    height: 9.8rem;
}

@media (min-width: 768px) {
    .title__profile {
        width: 16.6rem;
        height: 16.6rem;
    }
}

@media (min-width: 992px) {
    .title__profile {
        width: 36.8rem;
        height: 36.8rem;
    }
}

.title__bio {
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
}

@media (min-width: 1440px) {
    .title__bio {
        font-size: 5.2rem;
        margin-bottom: 2.4rem;
    }
}

.title__subsection {
    font-weight: var(--regular-400);
}

@media (min-width: 768px) {
    .title__subsection {
        font-weight: var(--regular-400);
        margin-right: 3rem;
        margin-bottom: 3.4rem;
    }
}

.title__network {
    display: flex;
    gap: 1rem;
}

@media (min-width: 768px) {
    .title__network {
        gap: 3rem;
    }
}

.title__network__link {
    display: flex;
    gap: .5rem;
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .title__network__link {
        display: flex;
        gap: 1rem;
        font-size: 1.6rem;
    }
    
}

.title__img {
    width: 1.4rem;
    height: 1.4rem;
}

/** Sección About **/
.about {
    background-color: var(--cor-de-bg);
}

.about__container {
    padding: 3.2rem 0;
}

@media (min-width: 768px) {
    .about__container {
        padding: 6.4rem 0;
    }
}

.about__title {
    font-size: 2.2rem;
}

@media (min-width: 768px) {
    .about__title {
        font-size: 3.2rem;
    }
}

.about__paragraph {
    padding: 1.6rem 0;
}

@media (min-width: 768px) {
    .about__paragraph {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .about__paragraph {
        margin-right: 39rem;
    }
}
/** Sección Hobbies **/
.skills, 
.hobbies {
    padding: 3.2rem 0;
}

.skills__title,
.hobbies__title {
    font-size: 2.2rem;
    text-align: center; 
    padding-bottom: 3.2rem;
}

@media (min-width: 768px) {
    .skills__title,
    .hobbies__title {
        font-size: 3.2rem;
    }
}

.skills__line,
.hobbies__line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
}

@media (min-width: 768px) {
    .skills__line,
    .hobbies__line {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width: 1440px) {
    .skills__line,
    .hobbies__line {
        grid-template-columns: repeat(6, 1fr);
    }
}

.skills__box,
.hobbies__box {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0 1.6rem 1.6rem;
    background-color: var(--cor-white);
    height: 17.4rem;
    margin: 1rem;
}

.skills__name,
.hobbies__name {
    margin-top: 1rem;
}

/** Experiencia Académica **/
.academic {
    background-color: var(--cor-de-bg);
}

.academic__title {
    text-align: center;
    padding-top: 3.2rem ;
}

@media (min-width: 1440px) {
    .academic__title {
        padding-top: 8.2rem;
    }
}

.academic__courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 3.2rem;
}

@media (min-width: 1440px) {
    .academic__courses {
        padding-bottom: 8.2rem;
    }
}

@media (min-width: 768px) {
    .academic__courses {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.academic__courses__item__img {
    background-color: var(--cor-white);
    display: flex;
    width: 29.6rem;
    height: 11.8rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .academic__courses__item__img {
        width: 22.4rem;
        height: 11.8rem;
    }
}

@media (min-width: 992px) {
    .academic__courses__item__img {
        width: 36.8rem;
        height: 28.6rem;
    }
}

.academic__courses__item__title {
    font-size: 1.6rem;
}

@media (min-width: 1440px) {
    .academic__courses__item__title {
        font-size: 2.2rem;
    }
}

.academic__courses__item__title,
.academic__courses__item__subtitle {
    margin-top: .8rem;
    text-align: end!important;
}

/** experiencia **/
.experience__section__title {
    padding: 3.2rem 0;
    text-align: center;
    font-size: 2.2rem;
}

@media (min-width: 768px) {
    .experience__section__title {
        font-size: 3.2rem;
    }
}

.experience__box {
    display: flex;
    flex-direction: column;
    align-items: var(--cor-de-bg);
    margin-bottom: 6rem;
}

@media (min-width: 992px) {
    .experience__box {
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .experience__box:nth-child(3) {
        flex-direction: row-reverse;
    }
}

.experience__img {
    max-width: 100%;
}

.experience__title {
    font-size: 1.6rem;
    margin-top: 1.6rem;
}

@media (min-width: 768px) {    
    .experience__title {
        font-size: 2.2rem;
    }
}

.experience__text {
    font-size: 1.4rem;
    margin: .8rem 0;
}

@media (min-width: 768px) {
    .experience__text {
        font-size: 1.6rem;
    }
}

.experiencia__botao--repo {
    padding: 1rem;
    border: 1px solid var(--cor-btn);
    background-color: var(--cor-white);
    color: var(--cor-btn);
    cursor: pointer;
    transition: background-color .5s;
}

.experiencia__botao--repo:hover {
    background-color: var(--cor-btn);
    color: var(--cor-white);
}

.experience__botao--demo {
    padding: 1rem;
    border: 1px solid var(--cor-btn);
    background-color: var(--cor-btn);
    color: var(--cor-white);
    cursor: pointer;
    transition: background-color .5s;
}

.experience__botao--demo:hover {
    padding: 1rem;
    background-color: var(--cor-white);
    color: var(--cor-btn);
}

/** Contacto **/


/*footeer*/
.footer {
    text-align: center;
    margin: 2rem 0;
}

/*TODO: AGREGAR Media Querie*/
/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

/*Contacto*/

/*Footer*/

}